<!-- fancybox -->
<link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
<script src="/js/jquery.fancybox.min.js"></script>
<%- js('js/mdui.min.js') %>
<% if (theme.busuanzi == true){ %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
<% if(theme.highlight.use == true) { %>
<script src="/js/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
  $("pre.code").each(function() {
    $(this).html("<ol><li>" + $(this).html().replace(/\n/g, "\n</li><li>") + "\n</li></ol>");
  });
</script>
<% } %>
<% if(page.style == 'photos') { %>
<%- js('js/gallery-page.js') %>
<% } %>
<%- js('js/app.js') %>
<% if (theme.schemes =='column' ){ %>
<%- js('js/nav-scroll.js') %>
<%} else if (theme.schemes =='m3' ){ %>
<% } %>
<script src="/js/pjax.js"></script>
<!--
<%- js('js/canvas2image.js') %>
<%- js('js/shareimg') %>
<%- js('js/pjax-ctrl.js') %>
<script src="/js/pjax.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src="/js/lazyload.js"></script>
-->