<!-- Footer -->
<footer class="mdui-text-center itp-footer">
  <section class="footer-info">
    <%- config.title %> &copy; <%- theme.start_time %> - <%= (new Date()).getFullYear() %>
    <% if (theme.count == true){ %>
    <span> / </span>
     Word Count Total:  <%- symbolsCountTotal(site) %>
    <% } %>
    <% if (theme.icp){ %>
    <span> / </span>
    <a href="http://www.beian.miit.gov.cn"><%- theme.icp %></a>
    <% } %>
    <% if (theme.busuanzi == true){ %>
    <span> / </span>
	<span id="busuanzi_container_site_pv">PV <span id="busuanzi_value_site_pv"></span></span>
    <% } %>
    </a>
  </section>
  <% if (theme.footer-logo.use == 'upyun'){ %>
  <section class="footer-logo">
    <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">
      <img style="max-height: 40px !important;" src="<%- url_for(theme.footer-logo.upyun) %>"></a>
  </section>
  <% } %>
  <% if (theme.footer-logo.use == 'vercel'){ %>
  <section class="footer-logo">
    <a href="https://vercel.com/" target="_blank">
      <img style="padding-top: 12px; max-height: 25px !important; opacity: 0.4;" src="<%- url_for(theme.footer-logo.vercel) %>"></a>  
  </section> 
  <% } %>
</footer>